/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  font-size: 1.8em;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.hero {
  background-color: #f4f4f4;
  text-align: center;
  padding: 250px 20px;
    background-image: url("allbg.png");
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  color: #666;
}

.container {
  display: flex;
  margin-top: 20px;
}

/* Sidebar Styles */
.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #e9912d;
  border-right: 1px solid #ddd;
  background-image: url("fashhhh.jpg");
}

.sidebar h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}

/* Product Section */
.products {
  flex-grow: 1;
  padding: 20px;
}

.product-category {
  margin-bottom: 40px;
}

.product-category h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.product {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.product p {
  font-size: 1.1em;
  color: #555;
}

button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

/* Cart Popup */
.cart-popup {
  display: none;
  position: fixed;
  top: 20%;
  right: 20%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
}

.cart-popup h3 {
  font-size: 1.5em;
}

.cart-popup ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.cart-popup ul li {
  margin-bottom: 10px;
}

#close-cart {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

#close-cart:hover {
  background-color: #d32f2f;
}
